@mixin customBoxShadow() {
    box-shadow: 0 5px 20px #0000000d !important;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
    padding: 0 !important;
    border-radius: 4px;
  }


@mixin customRow()
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@mixin customCol12()
{
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
}

@mixin customCol6()
{
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
}

@mixin customMatTitle()
{
    padding: 10px 0 10px 30px !important;
    font-size: 1.2rem;
}