@import "src/app/styles/mixins";
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.left-panel {
    float: left;
}

.right-panel {
    float: left;
    position: fixed;
    margin-left: 600px;
    max-height: 100%;
    /* Hoặc sử dụng giá trị linh hoạt khác */
    overflow-y: auto;
    /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
    /* Adjust the margin as needed */
}


/*
 * This padding sets alignment of the nested nodes.
 */

.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}


/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */

.example-tree div[role=group]>.mat-tree-node {
    padding-left: 40px;
}

.example-tree-invisible {
    display: none;
}

.config-input {
    width: 300px;
}

.inline-item p span {
    width: 120px;
    display: inline-block;
}

.right-btn {
    margin-right: 20px;
}
