<ngx-spinner type="ball-scale-multiple">
    <div class="wrap-spinner">
        <p>{{messageLoading}}</p>
    </div>
</ngx-spinner>
<div class="row">
    <div class="col-12">
        <h1 class="title">Hồ sơ của tôi</h1>
        <mat-card class="card-profile">
            <mat-card-title>Thông tin cơ bản</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content class="row">
                <div class="col-6">
                    <div class="bio-row">
                        <p><span>Mã nhân viên</span>{{data?.origin_json.code}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Họ và tên</span>{{data?.origin_json.fullName}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Jobcode</span>{{data?.origin_json.positions[0].jobCode}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email</span>{{data?.origin_json.email}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Trạng thái truy cập</span>{{data?.work_status}}</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bio-row">
                        <p><span>Danh xưng</span>{{data?.origin_json.gender}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Số CCCD</span>{{data?.id_card_no}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Loại hợp đồng</span>{{data?.origin_json.contractType}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Ngày hết hạn hợp đồng</span>{{data?.origin_json.contractEndDate}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Trạng thái làm việc</span>{{data?.work_status}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-biometric">
            <mat-card-title>Upload giấy tờ</mat-card-title>
            <mat-divider></mat-divider>
            <div>
                <div class="status-row">
                    <p><span>Trạng thái:</span> {{enroll_message}}</p>
                </div>
                <button mat-stroked-button color="primary" class="btn" (click)="getPasscode()"
                    *ngIf="!showFormInput && (enroll_status == 2 || enroll_status == 5 || enroll_status == 6 || enroll_status == 7)">Xem
                    passcode</button>
                <button mat-stroked-button color="primary" class="btn" (click)="callSupporter()"
                    *ngIf="enroll_status == 4">Cần hỗ trợ</button>
            </div>

            <mat-card-content>
                <div class="form-input" *ngIf="showFormInput && (enroll_status == 1 || enroll_status == 3 )">
                    <button mat-stroked-button class="right-btn" (click)="toggleForms()" *ngIf="isEdit">Thoát</button>
                    <button mat-raised-button color="primary" class="right-btn" [disabled]="biometricForm.invalid"
                        (click)="enrollSubmit()">Lưu</button>
                    <form [formGroup]="biometricForm">
                        <div class="col-6">
                            <div class="bio-row">
                                <p><span>Ảnh mặt trước CCCD</span><input type="file" name="font"
                                        accept="image/png, image/jpeg" formControlName="imgFront"
                                        (change)="onFontSelected($event)" /></p>
                            </div>
                            <div class="bio-row">
                                <p><span>Ảnh mặt sau CCCD</span><input type="file" name="back"
                                        accept="image/png, image/jpeg" formControlName="imgBack"
                                        (change)="onBackSelected($event)" /></p>
                            </div>
                            <div class="bio-row">
                                <p><span>Ảnh chân dung</span><input type="file" name="avatar"
                                        accept="image/png, image/jpeg" formControlName="imgAvt"
                                        (change)="onPortraitSelected($event)" /></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-detail"
                    *ngIf="!showFormInput && (enroll_status == 2 || enroll_status == 6 || enroll_status == 7)">
                    <button mat-raised-button color="primary" class="right-btn" (click)="toggleForms()"
                        *ngIf="enroll_status == 2">Đăng ký lại</button>
                    <div class="col-6">
                        <div class="bio-row">
                            <p><span>Ảnh mặt trước CCCD</span>
                                <button mat-stroked-button (click)="onClickFront()">Preview</button>
                            </p>
                        </div>
                        <div class="bio-row">
                            <p><span>Ảnh mặt sau CCCD</span>
                                <button mat-stroked-button (click)="onClickBack()">Preview</button>
                            </p>
                        </div>
                        <div class="bio-row">
                            <p><span>Ảnh chân dung</span>
                                <button mat-stroked-button (click)="onClickPhoto()">Preview</button>
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-other">
            <mat-card-title>Thông tin sinh trắc học</mat-card-title>
            <mat-card-content>
                <div class="col-6">
                    <div class="bio-row">
                        <p><span>Vân tay</span> {{enroll_status == 2 ? 'Đã có mẫu sinh trắc học' :'Chưa có mẫu sinh trắc học'}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Khuôn mặt</span>
                            {{enroll_status == 2 ? 'Đã có mẫu sinh trắc học' :'Chưa có mẫu sinh trắc học'}}
                        </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>