@import 'src/app/styles/mixins';
@import "src/app/styles/colors";
@import "src/app/styles/font";
.row {
  @include customRow()
}
.col-12 {
  @include customCol12
}
.col-6 {
  @include customCol6()
}
::ng-deep {
  .card-profile {
    margin-top: 16px 0 0 0;
    @include customBoxShadow();
    mat-card-title {
      @include customMatTitle();
    }
    mat-divider {
      margin-bottom: 15px;
    }
  }
  .card-biometric {
    margin: 16px 0 0 0;
    @include customBoxShadow();
    mat-card-title {
      @include customMatTitle()
    }
    mat-divider {
      margin-bottom: 15px;
    }
    mat-card-content {
      input {
        margin-top: 1rem;
        &:hover
        {
            cursor: pointer;
        }
      }

      input::file-selector-button {
        font-weight: $fw-bold;
        color: $dark-grey;
        padding: 0.5em;
        border: none;
        border-radius: 3px;
      }
    }
  }
  .card-other {
    margin: 16px 0 0 0;
    @include customBoxShadow();
    mat-card-title {
      @include customMatTitle()
    }
    mat-divider {
      margin-bottom: 15px;
    }
  }
}
.bio-row {
  width: 100%;
  float: left;
  padding: 0 15px 10px 15px;
  span {
    font-weight: $fw-bold;
  }
  i {
    cursor: pointer;
  }
}

.status-row
{ margin-left: 30px;
  width: 100%;
  padding: 0 15px 10px 15px;
  span {
    font-weight: $fw-bold;
  }
}

.status-row p span {
  width: 200px;
  display: inline-block;
} 
.bio-row p span {
  width: 200px;
  display: inline-block;
}

.right-btn {
  float: right;
  margin-left: 10px;
}

.btn 
{
 float: right;
 width: 200px !important;
 margin-right: 20px ;
}

.title
{
 margin: 0 15px 20px;
}

.header-container
{
  display: flex;
}
