@import "../../shared/mixins";

.table-responsive {
  max-height: 580px;
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}

.right-btn {
  float: right;
  margin: 0;
}

::ng-deep {
  .mat-expansion-indicator {
    position: absolute;
    top: 50;
    left: 50;
  }
  .table-header {
    @include customBoxShadow();
  }

  .mdc-data-table__content tr:hover {
    background-color: whitesmoke;
    color: #39a0e6;
    cursor: pointer;
  }

  .card-table {
    @include customBoxShadow();
  }
}

.form-search {
  display: inline-block;
  justify-content: center;
  .search-container {
    display: flex;
    flex-flow: wrap;
    p {
      margin-left: 10px;
      max-width: 300px;
    }
  }
  .search-action {
    .btn {
      margin-left: 10px;
    }
  }
}

.title {
  margin: 0 15px 20px;
}

.icon {
  color: #555555;
  color: #555555;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 30px #9e9ea7;
  -moz-box-shadow: inset 0 0 30px #9e9ea7;
  box-shadow: inset 0 0 30px #9e9ea7;
  &:hover {
    cursor: pointer;
  }
}
