<mat-toolbar>
    <mat-toolbar-row>
        <a mat-icon-button (click)="toggleSidenav()" matTooltip="{{!isSidenavOpen ? 'Mở Menu' : 'Đóng Menu'}}">
            <i class="material-icons" *ngIf="!isSidenavOpen">menu</i>
            <i class="material-icons" *ngIf="isSidenavOpen">arrow_back</i>
        </a>
        <h1>Vault Access Control</h1>
        <div class="spacer"></div>
        <!-- <a class="branch-selected">
            <span>{{branchname}}</span>
        </a> -->
        <a mat-button [matMenuTriggerFor]="menu" matTooltip="Expand" class="drop-container">
            <div class="btn-dropdown">
                <span>{{userLogin}}</span>
                <i class="material-icons">arrow_drop_down</i>
            </div>
        </a>
        <mat-menu #menu="matMenu" class="profile-dropdown">
            <div class="mb-4">
                <button mat-menu-item class="fs-16" routerLink="profile"><mat-icon>person</mat-icon>Hồ sơ</button>
                <button mat-menu-item class="fs-16" routerLink="setting"><mat-icon>settings</mat-icon>Cài đặt</button>
            </div>
            <hr>
            <div class="btn-wrapper">
                <button mat-flat-button class="btn-logout" (click)="onSigout()">Đăng xuất</button>
            </div>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>
<div class="progress-bar">
    <div *ngIf="loadingService.isLoading | async" class="loader-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="side-nav" mode="side">
        <mat-nav-list appAccordion>
            <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()"
                routerLinkActive="selected">
                <a class="inline-center" mat-button appAccordionToggle [routerLink]="['/default', menuitem.state]"
                    *ngIf="menuitem.type === 'link'">
                    <mat-icon>{{ menuitem.icon }}</mat-icon>
                    <span>{{ menuitem.name }}</span>
                    <span></span>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrapper">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner type="ball-scale-multiple">
    <div class="wrap-spinner">
      <p>{{ messageLoading$ | async }}</p>
    </div>
  </ngx-spinner>