<!-- <div class="container">
    <div class="setupSearch">
        <h1>Cài đặt</h1>
        <div class="group">
            <i class="material-icons">search</i>
            <input placeholder="Tìm kiếm" type="search" class="input">
        </div>
    </div>
    <div class="sessionSetup">
        <div class="sessionItems">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Cài đặt chung</mat-card-title>
                    <div class="list-item">
                        <a routerLink="">Thiêt lập cá nhân</a>
                        <a routerLink="">Chi tiết công ty</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Cấu hình</mat-card-title>

                    <div class="list-item">
                        <a routerLink="config">Cấu hình vào ra</a>
                        <a routerLink="member">Thành phần</a>
                        <a routerLink="jobcode">Jobcode</a>
                        <a routerLink="member-force">Chỉ định thành phần</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Hệ thống tổ chức</mat-card-title>
                    <div class="list-item">
                        <a routerLink="foundationtree">Cây tổ chức</a>
                        <a routerLink="">Đồng bộ Jobcode</a>
                        <a routerLink="">Đồng bộ nhân viên</a>
                        <a routerLink="">Tham số hệ thống</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Kho Quỹ</mat-card-title>
                    <div class="list-item">
                        <a routerLink="">Cài đặt mở kho</a>
                        <a routerLink="">Cài dặt đóng kho</a>
                        <a routerLink="">Quy tắc cảnh báo</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Cá nhân</mat-card-title>
                    <div class="list-item">
                        <a routerLink="">Thiêt lập cá nhân</a>
                        <a routerLink="">Chi tiết công ty</a>
                        <a routerLink="">Nhập</a>
                        <a routerLink="">Xuất</a>
                        <a routerLink="">Báo cáo</a>
                        <a routerLink="">Quản trị</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Môi trường</mat-card-title>
                    <div class="list-item">
                        <a routerLink="">Thiêt lập cá nhân</a>
                        <a routerLink="">Chi tiết công ty</a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Bảo mật</mat-card-title>
                    <div class="list-item">
                        <a routerLink="manage-role">Phân quyền</a>
                        <a routerLink="">Thiết bị</a>
                        <a routerLink="">Camera</a>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div> -->

<div style="display: flex; justify-content: center; align-items: center;">
    <h1 style="color: #2c2c2cb0;">Comming soon</h1>
</div>
