<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form [formGroup]="loginForm">
    <h3>Vault Access Control</h3>

    <label for="username">Tài khoản</label>
    <input type="text" placeholder="Tài khoản LDAP" id="username" formControlName="username">

    <label for="password">Mật khẩu</label>
    <input type="password" placeholder="Mật khẩu" id="password" formControlName="password">

    <button (click)="onSubmit()" class="btn" >Đăng nhập</button>
    <div class="social">
        <p>Powered by A.R.T JSC</p>
    </div>
</form>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-triangle-path" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>