@import 'src/app/styles/mixins';
.table-responsive {
    overflow-x: auto;
}

td.mat-cell {
    padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding: 16px;
}

th.mat-header-cell {
    padding: 16px;
}

.mat-header-cell {
    font-size: 14px;
}

.right-btn {
    float: right;
    margin: 0;
}

::ng-deep {
    .table-header {
        @include customBoxShadow();
    }
    .card-table {
        @include customBoxShadow();
    }
}

.group {
    display: flex;
    align-items: center;
    max-width: auto;
    position: relative;
    .material-icons {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }
    button
    {
        margin-left: 20px;
    }
}

.input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid #9e9ea7d7;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(113, 127, 252, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(231, 157, 231, 0.1);
}

.title {
    margin: 0 15px 20px;
}
.right-btn {
    float: right;
    margin: 0;
    width: 200px;
    margin-left: 20px;
}
.btn-icon{
    display: flex;
    // border: solid 2px;
    cursor: pointer;
    align-items: center;
    // color: green;
    // height: 30px;
    // border: 2px solid #3ac53a;
    // border-radius: 5px;\
    background-color: #3ebe91;
    color: #fff;
}
.btn {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: none;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px .2px #00000035;
    box-shadow: 1px 1px 5px .2px #00000035;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    transition-delay: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
  }
  
  .btn:hover {
    width: 100px;
    transition-delay: .2s;
  }
  
  .btn:hover > .paragraph {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
  }
  
  .btn:hover > .icon-wrapper .icon {
    transform: scale(1.1);
  }
  
  .btn:hover > .icon-wrapper .icon path {
    stroke: black;
  }
  
  .paragraph {
    color: black;
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 10px;
    padding-left: 5px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .icon-wrapper {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    transform: scale(.9);
    transition: .2s linear;
  }
  
  .icon path {
    stroke: #000;
    stroke-width: 2px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }