@import '../../shared/mixins';
.table-responsive {
    overflow-x: auto;
}

td.mat-cell {
    padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding: 16px;
}

th.mat-header-cell {
    padding: 16px;
}

.mat-header-cell {
    font-size: 14px;
}

.right-btn {
    float: right;
    margin: 0;
}

::ng-deep {
    .table-header {
        @include customBoxShadow();
    }
    .card-table {
        @include customBoxShadow();
    }
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 250px;
    .material-icons {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid #9e9ea7d7;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(113, 127, 252, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(231, 157, 231, 0.1);
}

.title {
    margin: 0 15px 20px;
}
