<mat-card>
    <div class="header">
        <mat-card-title>Chi tiết phân công tôi phê duyệt</mat-card-title>
        <a class="btn-close" (click)="onClose()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <mat-divider></mat-divider>
    <app-step-progress [steps]="status" [currentStep]="currentStep"></app-step-progress>
    <mat-divider></mat-divider>
    <mat-card-content class="scrollable-content">
        <form class="form-input" [formGroup]="updateWorkForm">
            <div class="main-form">
                <div class="inline-item">
                    <p><span>Chi nhánh</span>
                        <mat-form-field appearance="outline" class="w-300">
                            <input matInput type="text" formControlName="branchname" >
                        </mat-form-field>
                    </p>
                </div>
                <div class="inline-item">
                    <p><span>Người phân công</span>
                        <mat-form-field appearance="outline" class="w-300">
                            <input matInput type="text" formControlName="owner">
                        </mat-form-field>
                    </p>
                </div>
                <div class="inline-item">
                    <p><span>Hiệu lực từ</span>
                        <mat-form-field appearance="outline" class="w-300">
                            <input matInput [matDatepicker]="startdate" formControlName="startDate">
                            <mat-datepicker-toggle matIconSuffix [for]="startdate"></mat-datepicker-toggle>
                            <mat-datepicker #startdate>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    </p>
                </div>
                <div class="inline-item">
                    <p><span>Hiệu lực đến</span><mat-form-field appearance="outline" class="w-300">
                            <input matInput [matDatepicker]="enddate" formControlName="endDate">
                            <mat-datepicker-toggle matIconSuffix [for]="enddate"></mat-datepicker-toggle>
                            <mat-datepicker #enddate>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field></p>
                </div>

                <div class="inline-item">
                    <p><span>Thành phần</span>
                        <mat-form-field appearance="outline" class="w-300">
                            <input matInput type="text" formControlName="member" >
                        </mat-form-field>
                    </p>
                </div>
                <div class="inline-item">
                    <p><span>Người nhận</span>
                        <mat-form-field appearance="outline" class="w-300">
                            <input matInput type="text" formControlName="employee">
                        </mat-form-field>
                    </p>
                </div>
                <div class="inline-item">
                    <p><span>Lý do</span>
                        <mat-form-field appearance="outline" class="w-300">
                            <textarea matInput type="text" rows="4" formControlName="note" ></textarea>
                        </mat-form-field>
                    </p>
                </div>
                <div class="inline-item">
                    <p><span>Người phê duyệt</span>
                        <mat-form-field appearance="outline" class="w-300">
                            <input matInput type="text" formControlName="approver" >
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="other-content">
                <div class="w-50">
                    <div class="inline-item">
                        <p><span>TranId</span>{{data.id}}</p>
                    </div>
                    <div class="inline-item">
                        <p><span>Ngày tạo</span>{{data.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                    </div>
                    <div class="inline-item">
                        <p><span>Người tạo</span>{{data.createdUser}}</p>
                    </div>
                </div>
                <div class="w-50">
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div class="footer" *ngIf="data.status.id === 2">
            <button mat-raised-button  color="warn" (click)="onAccept()" >Phê duyệt</button>
            <button mat-raised-button class="ml-50" >Từ chối</button>
        </div>
    </mat-card-footer>
</mat-card>