@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url('./assets/images/bg.jpg');
    background-size: contain;
}

::-webkit-scrollbar { width: 6px; height: 3px;}
::-webkit-scrollbar-button { display: none }
::-webkit-scrollbar-track {  background-color: #B9B9B9;}
::-webkit-scrollbar-track-piece { background-color: white;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #B9B9B9; border-radius: 36px;}
::-webkit-scrollbar-corner { background-color: #B9B9B9;}
::-webkit-resizer { background-color: #4A4A4A;}