@import "src/app/styles/mixins";
@import "src/app/styles/colors";
@import "src/app/styles/font";
.page-header {
  background-color: $white;
  @include customBoxShadow();
}

.spacer {
  flex: 1 1 auto;
}

.title-inner-wrapper {
  display: inline-flex;
  align-items: center;
}

h1
{
    margin-right: 24px;
}

.icon
{
    
    margin-right: 10px;
}

.title-date
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.title-date-text
{
    margin: 0;
    color: $dark-grey;
    font-weight: $fw-lighter;
    font-size: $fs-normal;
}
.comming
{
  padding-top: 16px;

  .mat-content
  {
    display: flex;
    justify-content: center;
  }
}

.task-completed
{
  @include customBoxShadow();
  
  h1
  {
    color: rgba(43, 43, 43, 0.87);
  }
}