<mat-toolbar class="page-header" role="heading">
  <mat-toolbar-row>
    <div class="title-inner-wrapper">
      <h1>Dashboard</h1>
      <mat-tab-group (selectedTabChange)="changeTab($event)">
        <mat-tab label="Đang chờ thực hiện"></mat-tab>
        <mat-tab label="Đã hoàn thành"></mat-tab>
      </mat-tab-group>
    </div>
    <div class="spacer"></div>
    <div class="title-inner-wrapper">
      <div class="title-date">
        <mat-icon class="icon">calendar_today</mat-icon>
        <p class="title-date-text">{{formattedDate}}</p>
      </div>
      <!-- <button mat-flat-button color="warn" class="btn">Báo cáo</button> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="tabSelected.index==0 || !tabSelected ">
  <app-tasks></app-tasks>
</div>
<div *ngIf="tabSelected.index==1">
  <div class="comming">
    <mat-card class="task-completed">
      <mat-card-content class="mat-content">
        <h1>Comming soon</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>


